:root {
    --marvel-dark: #131212; 
    --marvel-text: #ffffff; 
    --marvel-red:#e4002b;
  }
  
  body {
    background-color: var(--marvel-dark); 
    color: var(--marvel-text); 
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .container {
    max-width: 1200px; 
    margin: auto; 
    padding: 20px; 
  }


img {
  max-width: 170px;
  height: auto; 
  margin-bottom: 1rem;
  border-radius: 5px;
}

  
  h1{
    font-family: "Honk", system-ui;
    font-size:6rem;
    text-align: center;
    margin-bottom: 20px;
  }

  h2{
    color: var(--marvel-red);
  }

  h3 {
    color: white;
  }

  ul {
    list-style-type: none; 
}
.character-link {
  text-decoration: none;
  color: inherit; 
}


.character-link:hover {
  color: var(--marvel-red);
}